html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
}
/* Центрируем текст по вертикали внутри селект2 */
.select2-container .select2-selection__rendered {
    line-height: calc(2.25rem + 2px) !important;
}
/* Сама стрелочка-иконка тоже подгоняется под эту высоту */
.select2-container .select2-selection__arrow {
    height: calc(2.25rem + 2px) !important;
}